header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8rem;
  transition: all 300ms ease-in-out;
  z-index: 10;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--background-color);
  min-height: 8rem;
}
.navbar__logo {
  position: relative;
  display: flex;
  align-items: center;
}
.navbar__text {
  position: absolute;
  left: 0;
  margin-left: 10.5rem;
  top: 6rem;
  font-size: 1.5rem;
  font-family: "Cinzel", serif;
  font-weight: 500;
  color: var(--text-color);
  opacity: 0;
  transition: all 0.7s;
}
.navbar__text--active {
  opacity: 1;
}
.navbar__logo-image {
  position: absolute;
  margin-left: 7.5rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 3px solid var(--color-text-blue);
  transition: all 0.7s;
  margin-left: auto;
  cursor: pointer;
}
.navbar__menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navbar__item {
  list-style: none;
}
.navbar__link {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  padding: 5px 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--hero-text-color);
  position: relative;
  z-index: 15;
}

.navbar__link:hover {
  color: #e7e7d6;
}

.navbar__link:nth-last-of-type(3) {
  color: #e7e7d6;
}

#navbar__resume {
  color: #eeeee4;
}

.navbar__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 1px;
  background-color: var(--navbar__hover-color);
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
  z-index: -1;
}

.navbar__link:hover::before,
.navbar__link--active::before {
  transform: scaleY(1);
  width: 100%;
}

.navbar__hamburger {
  display: none;
  cursor: pointer;
}

.navbar__bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--text-color);
  transition: all 0.3s ease-in-out;
}

/* Scroll */
.scroll-down header {
  transform: translate3d(0, -100%, 0);
}

.scroll-up header {
  filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
}

/* Media Query */
@media (max-width: 600px) {
  .navbar__text {
    display: none;
  }
  .navbar__hamburger {
    display: block;
  }
  .navbar__hamburger.active .navbar__bar:nth-child(2) {
    opacity: 0;
  }
  .navbar__hamburger.active .navbar__bar:nth-child(1) {
    transform: translateY(8px) rotate(405deg);
  }
  .navbar__hamburger.active .navbar__bar:nth-child(3) {
    transform: translateY(-8px) rotate(-405deg);
  }
  .navbar__menu {
    position: absolute;
    top: 8rem;
    width: 100%;
    background-color: var(--background-color);
    height: 80vh;
    transition: all 0.7s;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
    transform: translateY(-1000px);
  }
  .navbar__menu.active {
    transform: translateY(0px);
  }
  .navbar__logo {
    margin-right: 20rem;
    transition: all 0.7s;
    z-index: 10;
  }
}
.content_project-title {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--hero-text-color);
  font-family: "Dank Mono", sans-serif;
  margin-top: -2rem;
}

.content__container {
  width: 90vw;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, minmax(250px, 350px));
  grid-gap: 30px;
}

.content__item {
  background-color: var(--hero-text-color);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

@media (max-width: 900px) {
  .content__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 300px);
  }
}
@media (max-width: 600px) {
  .content__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 400px);
  }
}
.footer__content {
  height: 20rem;
  padding: 2rem 5%;
  color: var(--hero-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.footer__large-heading {
  text-transform: uppercase;
  font-size: clamp(2rem, 5vw, 4rem);
  font-family: "Poppins";
}

.footer__media-icons {
  display: flex;
  gap: 20px;
  cursor: pointer;
  align-items: center;
}

.fa-facebook:hover {
  color: var(--color-facebook);
  transform: scale(1.1);
  transition: transform 0.3s ease, color 0.3s ease;
}

.fa-square-instagram:hover {
  background: linear-gradient(45deg, #f58529, #d32f6a, #9b4f96, #f9a825);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(1.1);
  transition: transform 0.3s ease, color 0.3s ease;
}

.fa-linkedin:hover {
  color: var(--color-linkedln);
  transform: scale(1.1);
  transition: transform 0.3s ease, color 0.3s ease;
}

.fa-github:hover {
  color: var(--color-github);
  transform: scale(1.1);
  transition: transform 0.3s ease, color 0.3s ease;
}

.fa-square-whatsapp:hover {
  color: var(--color-whtasapp);
  transform: scale(1.1);
  transition: transform 0.3s ease, color 0.3s ease;
}

.fa-brands:not(:last-child) {
  font-size: clamp(1.5rem, 5vw, 3rem);
}

.fa-arrow-up {
  position: absolute;
  right: 0;
  margin-right: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: var(--hero-text-color);
  color: #fff;
  font-size: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.footer-small-heading {
  font-size: 15px;
}

@media (max-width: 600px) {
  .fa-arrow-up {
    position: absolute;
    right: 0;
    margin-right: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: var(--hero-text-color);
    color: #fff;
    font-size: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
}
.about {
  margin-bottom: 5rem;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* start */
  justify-content: space-between;
  font-size: clamp(1.5rem, 2vw + 1rem, 6rem);
  line-height: 1.3;
  gap: 1rem;
}

.hero__large-heading {
  font-family: "Playfair Display", serif, "Roboto", sans-serif;
  /* font-size: clamp(2.5rem, 3vw + 1rem, 7rem); */
  animation: moveToRight 1s ease-out;
  color: var(--hero-text-color);
  margin-bottom: 0.5rem;
}

.hero__small-heading {
  font-family: "Lato", sans-serif;
  /* font-size: clamp(1.25rem, 1.5vw + 1rem, 4rem); */
  animation: moveToLeft 1s ease-out;
  color: var(--hero-text-color);
  line-height: 1.5;
  margin-top: 0.25rem;
  margin-bottom: 2rem;
}

@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes moveToDown {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
  }
}
/* New Button */
.hero__contact-me {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  animation: moveToDown 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
  margin-top: auto;
  margin-bottom: 2rem;
}

.hero__contact-me:hover {
  transform: translateY(-3px);
}

.hero__contact-me:active {
  transform: translateY(-1px);
}

button {
  position: relative;
  padding: 15px 35px;
  background: var(--navbar__hover-color);
  font-size: 17px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 1000;
  color: #ffffff;
  border: 3px solid var(--color-text-blue);
  border-radius: 8px;
  box-shadow: 0 0 0 #ffffff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--hero-text-color));
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 va(--navbar__hover-color));
  z-index: -5;
  transition: all 1scubic-bezier 0, 0.4, 0, 1.01;
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--navbar__hover-color));
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--navbar__hover-color));
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--navbar__hover-color));
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 var(--navbar__hover-color));
  z-index: -5;
  transition: all 0.8s ease;
}

button:hover {
  background: transparent;
  color: var(--navbar__hover-color);
  box-shadow: 0 0 0px var(--navbar__hover-color);
}

button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0px var(--navbar__hover-color));
  z-index: 2;
}

button:hover .star-2 {
  position: absolute;
  top: 0%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0px var(--navbar__hover-color));
  z-index: 2;
}

button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0px var(--navbar__hover-color));
  z-index: 2;
}

button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0px var(--navbar__hover-color));
  z-index: 2;
}

button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0px var(--navbar__hover-color));
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0px var(--navbar__hover-color));
  z-index: 2;
}

.fil0 {
  fill: var(--navbar__hover-color);
}

/* Scroll text */
.hero__text-scroll {
  margin-left: 4rem;
  left: 0;
  font-family: "Lato";
  display: flex;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 5rem;
  color: var(--hero-text-color);
  margin-bottom: 10rem;
}

.hero__text-scroll span {
  font-size: 1.5rem;
  fill: var(--hero-text-color);
  margin-left: 1rem;
}

:root {
  --background-color: #eeeee4;
  --text-color: #333;
  --hero-text-color: #827d7d;
  --color-text-blue: #3498db;
  --color-facebook: #1877f2;
  --color-instagram: linear-gradient(45deg, #f58529, #d32f6a, #9b4f96, #f9a825);
  --color-linkedln: #0077b5;
  --color-github: #181717;
  --color-whtasapp: #25d366;
  --navbar__hover-color: #cd5c5c;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.6;
  padding-top: 8rem;
  overflow: scroll;
}

body {
  background-color: var(--background-color);
}/*# sourceMappingURL=main.css.map */